<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
<app-profile-deal-card status="success"></app-profile-deal-card>

<div class="deal-details">
  <tabset [justified]="true">

    <tab [active]="dealType ==='inquiries'?true:false">
      <ng-template tabHeading>
        <div class="d-flex align-items-center justify-content-center" (click)="tabSelected('/profile/deals/inquiry/1')">
          <div inlineSVG="assets/icons/cir-check.svg"></div>
          <div class="ml-3">
            <div class="tab-step">Step 01</div>
            <div class="tab-type">{{'inquiry' | translate}}</div>
          </div>
        </div>
      </ng-template>
    </tab>


    <tab [disabled]="dealType ==='inquiries'?true:false" [active]="dealType ==='quotations'?true:false" >

      <ng-template tabHeading>
        <div class="d-flex align-items-center justify-content-center" (click)="tabSelected('/profile/deals/quotations/1')">
          <div inlineSVG="assets/icons/cir-check.svg"></div>
          <div class="ml-3">
            <div class="tab-step">Step 02</div>
            <div class="tab-type">{{'quotation' | translate}}</div>
          </div>
        </div>
      </ng-template>
    </tab>


    <tab [disabled]="dealType ==='inquiries' || dealType ==='quotations'?true:false"
      [active]="dealType ==='order'?true:false">
      <ng-template tabHeading>
        <div class="d-flex align-items-center justify-content-center" (click)="tabSelected('/profile/deals/orders/1')">
          <div inlineSVG="assets/icons/cir-check.svg"></div>
          <div class="ml-3">
            <div class="tab-step">Step 03</div>
            <div class="tab-type">{{'order' | translate}}</div>
          </div>
        </div>
      </ng-template>
    </tab>
    <tab [disabled]="dealType !=='invoices'?true:false" [active]="dealType ==='invoice'?true:false">
      <ng-template tabHeading>
        <div class="d-flex align-items-center justify-content-center">
          <div inlineSVG="assets/icons/cir-check.svg"></div>
          <div class="ml-3">
            <div class="tab-step">Step 04</div>
            <div class="tab-type">{{'invoice' | translate}}</div>
          </div>
        </div>
      </ng-template>
    </tab>
  </tabset>
  <div class="tab-content">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
