<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
<app-profile-deal-card status="success"></app-profile-deal-card>

<div class="deal-details">
  <tabset [justified]="true">
    <tab  [active]="dealType ==='inquiry'?true:false">
      <app-profile-deal-inquiries ></app-profile-deal-inquiries>
    </tab>
    <tab [disabled]="dealType ==='inquiry'?true:false"   [active]="dealType ==='quotation'?true:false">
    <app-profile-deals-quotations></app-profile-deals-quotations>
    </tab>
    <tab [disabled]="dealType ==='inquiry' || dealType ==='quotation'?true:false" [active]="dealType ==='order'?true:false">
      <ng-template tabHeading>
        <div class="d-flex align-items-center justify-content-center">
          <div inlineSVG="assets/icons/cir-check.svg"></div>
          <div class="ml-3">
            <div class="tab-step">Step 03</div>
            <div class="tab-type">{{'order' | translate}}</div>
          </div>
        </div>
      </ng-template>
      order
    </tab>
    <tab [disabled]="dealType !=='invoice'?true:false" [active]="dealType ==='invoice'?true:false">
      <ng-template tabHeading>
        <div class="d-flex align-items-center justify-content-center">
          <div inlineSVG="assets/icons/cir-check.svg"></div>
          <div class="ml-3">
            <div class="tab-step">Step 04</div>
            <div class="tab-type">{{'invoice' | translate}}</div>
          </div>
        </div>
      </ng-template>
      invoice
    </tab>
  </tabset>

</div>
