@import 'src/assets/scss/variables';


a {
  &:hover {
    text-decoration: none;
  }
  .product {
    border: 2px solid $mainColor;
    border-radius: 35px 35px 0 35px;
    margin-bottom: 25px;
    overflow: hidden;
    .product-img {
      text-align: center
    }
    .product-details {
      padding: 15px 20px;
      h4{
        color: #0272A3;
        font-size: 24px;
        font-weight: 800;
        &:hover {
          text-decoration: none;
          color:$active-link
        }
      }
      p {
        color: #BBBBBB;
        font-size: 16px;
        font-weight: 400
      }
    }


  }
}
