<div class="section-apis pb-0">
  <div class="container">
    <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
    <div class="section-apis pt-0">
      <div class="row">
        <div class="col-lg-5">
          <div class="supplier-img"><img src="assets/img/rowlands_logo_png.png"></div>
        </div>
        <div class="col-lg-7">
          <div class="product-details-2">
            <div class="row">
              <div class="col-md-12">
                <h2>Supplier Name</h2>
              </div>
              <div class="col-md-6">
                <p><span>{{'Company' | translate}}: </span>JF-NATURAL</p>
              </div>
              <div class="col-md-6">
                <p><span>{{'Country' | translate}}: </span>JF-NATURAL</p>
              </div>
              <div class="col-md-12">
                <p><span>{{'category' | translate}}: </span>Natural Extracts, Plant Extracts</p>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="product-btns mt-0">
                  <a href="#" class="apis-button btn btn-warning pull-right">{{'SendInquiry' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
<div class="grey-bg2 similar-products section-apis">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="the-title">
          <h2>Similar Products</h2>
          <p>Everything you need to know when you're looking</p>
        </div>
      </div>
      <div class="col-md-4 view">
        <div class="filter-grid">
          <button type="button" class="grid-12" (click)="onTogglingView('list')"><img
              src="assets/img/view_list_black_24dp.svg"></button>
          <span><img src="assets/img/Line%2011.svg"></span>
          <button type="button" class="grid-6" (click)="onTogglingView('grid')"><img
              src="assets/img/grid_view_black_24dp.svg"></button>
        </div>
      </div>
      <div class="row filter-grid-row">
        <div class="col-md-4">
          <app-product-card [bgWhite]="true"></app-product-card>
        </div>
        <div class="col-md-4">
          <app-product-card [bgWhite]="true"></app-product-card>
        </div>
        <div class="col-md-4">
          <app-product-card [bgWhite]="true"></app-product-card>
        </div>
        <div class="col-md-4">
          <app-product-card [bgWhite]="true"></app-product-card>
        </div>
        <div class="col-md-4">
          <app-product-card [bgWhite]="true"></app-product-card>
        </div>
        <div class="col-md-4">
          <app-product-card [bgWhite]="true"></app-product-card>
        </div>
      </div>
      <div class="col-12">
        <div class="mt-4">
          <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true" [totalItems]="77" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-apis">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-title">
          <h2>{{'CertificatesStandards' | translate}}</h2>
          <p>Everything you need to know when you're looking</p>
        </div>
      </div>
      <div class="col-sm-12">
        <swiper [slidesPerView]="innerWidth>991 ? 4:2" [spaceBetween]="30" [slidesPerGroup]="1" [loop]="true"
          [loopFillGroupWithBlank]="true" [navigation]="true" class="mySwiper">
          <ng-template swiperSlide>
            <app-certificate></app-certificate>
          </ng-template>
          <ng-template swiperSlide>
            <app-certificate></app-certificate>
          </ng-template>
          <ng-template swiperSlide>
            <app-certificate></app-certificate>
          </ng-template>
          <ng-template swiperSlide>
            <app-certificate></app-certificate>
          </ng-template>
        </swiper>
      </div>
    </div>

    <div class=" mt-5">
      <div class="the-title">
        <h2>{{'ContactWithSupplier' | translate}}</h2>
        <p>Everything you need to know when you're looking</p>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <formly-form class="row" [form]="form" [model]="model" [fields]="fields"> </formly-form>
        <div class="button-items d-flex justify-content-end">
          <button type="submit" class="apis-button btn btn-warning px-5 ">
            {{'Send' | translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>

