$grey-font: #938d8c;
$mainColor:#0373a4;

$active-link:#FFCC66;

$greenColor:#4B9E90;

$greenColor2: #3DC1C8;

$active-link2:#1AAFD1;


$taupeGrayColor:#888888;
$grayColor:#BBBBBB;

$ghostWhiteColor:#F9F9F9;
$SonicSilver:#777777;

$red:#EE4444
