@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgb(193 193 193);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

@import './variables';

@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";


.wrapper {
  width: 100%;
  overflow: hidden
}



.header {
  background-image: url(../img/header.png);
  background-size: cover;
  background-repeat: no-repeat
}

.header h2 {
  color: #454545;
  font-size: 36px;
  font-weight: 800;
  max-width: 650px;
  line-height: 50px;
  margin-top: -130px
}

.main-text {
  display: flex;
  align-items: center;
  min-height: 670px
}


.the-navbar {
  padding: 0
}

.the-navbar .navbar-brand {
  padding-top: 0
}








/***/


/***/
// .the-menu .dropdown-toggle::after {
//   display: none
// }

.nav-badge {
  position: relative
}

.nav-badge>span {
  position: absolute;
  right: -14px;
  top: -12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $orange;
  color: #263840;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 14px;
}

.main-menu .nav-badge {
  margin-right: 20px
}

.the-menu .dropdown-menu {
  right: 0;
  left: auto;
}

.statistics {
  margin-top: -90px
}

.shape1 {
  background-color: $mainColor;
  border-radius: 0 65px 0 65px;
  padding: 0 10px 10px
}

.icon {
  text-align: center;
  margin-top: -60px
}

.icon-img {
  background-color: #fff;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: auto;
  line-height: 110px
}

.icon span {
  color: $orange;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  display: inline-block;
  margin: 5px 0 3px
}

.icon p {
  color: #DDDDDD;
  font-size: 16px;
  font-weight: 600
}

.about {
  background-image: url(../img/about-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.about-img img {
  border-radius: 0 80px 0 80px;
}

.about-img {
  position: relative
}

.about-num {
  position: absolute;
  background-color: $orange;
  border-radius: 52px 52px 52px 0;
  right: 0;
  top: 80px;
  color: #fff;
  text-align: center;
  width: 175px;
  padding: 37px 0;
  font-size: 24px
}

.about-num span {
  display: block;
  font-weight: 800;
  font-size: 50px
}

.about-text {
  margin-bottom: 60px
}

.about-text h2 {
  color: #0DAACE;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0
}

.about-text span {
  color: $orange
}

.about-text p {
  font-size: 24px;
  color: $grayColor;
  margin-top: 25px
}

.about-list {
  margin-top: 40px
}

.flex {
  display: flex;
}
.about-list h3 {
  color: #0272A3;
  font-size: 24px;
  font-weight: 700
}

.about-list p,
.list-group-item{
  font-size: 16px;
  color: $taupeGrayColor;
  font-weight: 700;
  padding: 0;
  padding-left: 63px;
  background-color: transparent;
  border: none;
}

.about-list h3 img {
  margin-right: 10px
}

.about-list img {
  max-width: 55px;
  max-height: 50px
}

.about-img2 img {
  border-radius: 80px 0 80px 0
}

.about-img2 {
  text-align: right;
  margin-top: 20px
}

.mt-80 {
  margin-top: 80px
}

.steps {
  background-color: $mainColor
}

.step {
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  padding: 10px 0 15px
}

.step span {
  color: #fff;
  opacity: .1;
  font-size: 117px;
  font-weight: 900
}

.step h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 700
}

.step p {
  font-size: 16px;
  color: #BEBEBE;
  font-weight: 400
}

.step-img img {
  margin: -70px 0 20px;
  position: relative;
  z-index: 2
}

.arrow {
  position: absolute;
  right: -45px;
  top: 40%
}


.view {
  text-align: right
}


.link {
  color: $active-link2;
  font-size: 18px;
  font-weight: 600
}

.link:hover {
  text-decoration: none;
  opacity: .6;
  color: $mainColor
}

.link img {
  margin-left: 10px
}




.gram {
  color: $taupeGrayColor;
  font-size: 14px;
  font-weight: 800
}

.gram img {
  margin-right: 7px
}

.price {
  color: $orange;
  font-size: 14px;
  font-weight: 800;
  text-align: right
}

.price img {
  margin-right: 7px
}



.latest {
  background: $mainColor;
  border-radius: 84px 0 84px 0;
  hanging-punctuation: 300px;
}

.latest-bg {
  background-image: url(../img/latest-bg.png);
  background-size: cover;
}

.profile {
  color: $SonicSilver;
  font-size: 20px;
  font-weight: 700
}

.profile img {
  margin-right: 3px
}

.date img {
  margin-right: 3px
}

.date {
  font-size: 18px;
  color: $orange;
  font-weight: 600;
  text-align: right;
  margin-top: 4px
}

.latest h3 {
  color: $orange;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px
}

.link-align {
  text-align: right
}

.link-align a {
  color: #DDDDDD;
  font-size: 18px;
  font-weight: 600;
  transition: all .2s ease-in-out
}

.link-align a img {
  margin-left: 5px
}

.link-align a:hover {
  color: #EEEEEE;
  text-decoration: none;
  opacity: .85
}


.new {
  background: rgb(255 255 255 / 21%);
  border-radius: 0 0 37px 0;
  color: #fff;
  margin-bottom: 20px
}

.news-img {
  position: relative
}

.news-date {
  position: absolute;
  right: -23px;
  top: 23%;
  background: #fff;
  text-align: center;
  padding: 8px;
  border-top: 5px solid #FCB813;
  color: #FCB813;
  font-weight: 800;
  font-size: 16px;
  width: 77px;
}

.news-date span {
  display: block;
  font-size: 31px
}

.news-details h4 {
  margin-top: 10px;
  margin-bottom: 18px
}

.news-details h4 a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: all .2s ease-in-out
}

.news-details h4 a:hover {
  color: $orange;
  text-decoration: none;
  opacity: .85
}

.news-details .profile {
  color: #fff
}


.partner {
  background-color: #F8F8F8;
  border-radius: 17px 0 17px 0;
  padding: 12px
}

.partner img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all .2s ease-in-out
}

.partner img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}

.footer {
  background: #0272A3;
  color: #fff;
  padding: 40px 0 25px
}

.footer h4 {
  color: $orange;
  font-size: 19px;
  font-weight: 800;
  margin-bottom: 20px
}

.foolter-list {
  padding: 0
}

.foolter-list li {
  list-style: none;
  margin-top: 18px
}

.foolter-list li a {
  color: #fff;
  transition: all .2s ease-in-out
}

.foolter-list li a:hover {
  text-decoration: none;
  opacity: .85
}

.mb-20 {
  margin-bottom: 20px
}

.social {
  padding: 0
}

.social li {
  list-style: none;
  display: inline-block
}

.social li a {
  border-radius: 10px 4px 10px 8px;
  background-color: #2B89B2;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
  transition: all .2s ease-in-out
}

.social li a:hover {
  opacity: .8
}

.subscribe .btn {
  background: $active-link2;
  border-radius: 20px 20px 20px 0 !important;
  transition: all .2s ease-in-out;
  border-color: $active-link2;
  color: #fff;
  position: absolute;
  right: -15px;
  top: 0;
  z-index: 9
}

.subscribe .btn:hover {
  background: #16a0c0;
  border-color: #16a0c0
}

.subscribe .form-control {
  background-color: #2B89B2;
  color: #fff;
  border-color: #2B89B2;
  padding-right: 85px
}

.subscribe ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255 255 255 / 48%);
  opacity: 1;
  /* Firefox */
}

.subscribe :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255 255 255 / 48%);
}

.subscribe ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255 255 255 / 48%);
}

.copyrights {
  background: #02618b;
  color: #DDDDDD;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 18px 0
}

/****/
.main-menu2 {
  background: $mainColor
}

.number-items {
  font-size: 14px;
  color: $active-link2;
  font-weight: 700;
  padding: 6px 20px;
  margin-left: 20px;
  background: rgb(26 175 209 / 10%);
  border-radius: 20px;
  border: 1px solid $active-link2
}


.product {
  position: relative;
}

.fav-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: all .2s ease-in-out;
  background: rgb(3 115 164 / 5%);
  border-radius: 35px 35px 0 35px;
  display: none;
  z-index: 3
}

.product:hover .fav-overlay {
  display: block;
}

.product:hover .fav {
  display: block
}

.product .fav {
  border-radius: 0px 10px 0px 10px;
  background: rgb(3 115 164 / 12%);
  display: none;
  z-index: 4;
  padding: 10px 15px;
  top: 15px;
  left: 15px;
  position: absolute;
  transition: all .2s ease-in-out
}

.product .fav:hover {
  opacity: .85
}

.filter-by {
  background-color: rgb(224 244 248 / 58%);
  border-radius: 0px 64px 0px 64px;
  padding: 30px 20px
}

.filter-by h4 {
  color: $mainColor;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px
}




.sign-q {
  color: $grayColor;
  font-size: 18px;
  font-weight: 700
}

.btn-margin {
  margin-top: 20px;
  margin-bottom: 20px
}





.filter-grid button {
  border: 0;
  padding: 0;
  background-color: rgb(255 255 255 / 0%)
}

.supplier {
  margin-bottom: 35px
}

.supplier-img {
  background: #F8F8F8;
  border-radius: 35px 35px 0 35px;
  text-align: center;
  padding: 20px 0
}

.supplier-details h4 {
  color: $mainColor;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 18px
}

.supplier-details p {
  font-size: 20px;
  color: $taupeGrayColor;
  font-weight: 600;
  margin-bottom: 5px
}

.supplier-details p span {
  color: $active-link2
}

.col-sm-6 .supplier>.row>div {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-6 .supplier>.row>div .supplier-details h4 {
  margin-top: 15px;
  margin-bottom: 10px
}





.login-form select.form-control option[value=""][disabled] {
  display: none
}

.login-form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8d8d8d;
  opacity: 1;
  /* Firefox */
}

.login-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8d8d8d;
}

.login-form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8d8d8d;
}

.login-form .select-apis select.form-control {
  color: #8d8d8d
}


.about-text h3 {
  font-weight: 700;
  font-size: 48px;
  color: #0DAACE
}

.about-text h4 {
  font-weight: 700;
  font-size: 30px;
  color: #0DAACE
}

.about-text h3 span,
.about-text h4 span {
  color: $orange
}

.statistics2 {
  margin-top: 40px
}

.statistics2 .icon-img {
  background-color: #F4F5F7
}

.about-play {
  background-color: $active-link2;
  right: auto;
  left: -30px;
  top: 100px
}

.about-img .about-play img {
  border-radius: 0
}

.news-data .event-img img {
  border-radius: 35px 35px 0 35px
}

.news-data .event-details {
  margin-top: 0;
  padding: 20px 0
}

.news-data .event-details h4 {
  font-size: 32px;
  font-weight: 700;
  margin: 20px 0;
  color: $mainColor
}

.news-data .event-details p {
  color: $grayColor;
  font-size: 16px;
  margin-bottom: 20px
}

.similar-events {
  background-color: #EEEEEE
}

.similar-events .news-details h4 a {
  color: #454545;
  font-size: 16px
}

.similar-events .news-details h4 {
  line-height: 19px;
  margin-bottom: 10px
}

.similar-events .profile {
  color: $SonicSilver;
  font-size: 14px;
  font-weight: 600
}

.similar-events .news-date {
  font-size: 11px;
  right: 0;
  top: 0
}

.similar-events .news-date span {
  font-size: 22px
}

.similar-events .profile img {
  width: 30px
}

.similar-events .new {
  background-color: #fff;
  margin-bottom: 12px
}

.similar-events .new .row>div.col-sm-6:last-child {
  padding-left: 0
}


.block-1 {
  background-color: #fff;
  border-radius: 0 0 40px 0;
  padding: 30px 15px
}

.inline-select select {
  border-radius: 25px;
  margin: 15px 7px 0
}

select.form-control option[value=""][disabled] {
  display: none
}

.form-group>label.label-inline {
  color: $mainColor;
  font-weight: 800;
  margin-left: 20px;
  padding-top: 10px;
  margin-right: 5px
}

/* start responsive */
@media screen and (max-width:1200px) {
  .main-menu .nav-badge {
    margin-right: 10px
  }

  .about-num {
    right: -20px
  }

  .product-details h4 a {
    font-size: 18px
  }

  .product-details p {
    font-size: 15px
  }

  .news-details h4 a {
    font-size: 17px
  }

  .profile {
    font-size: 15px
  }

  .social li a {
    margin-right: 8px
  }

  .event-lg.event .event-img img {
    height: 100%
  }

  .event-lg.event .event-img {
    height: 100%
  }

  .product-btns .apis-button {
    padding: 8px 25px;
    margin-right: 10px
  }
}

@media screen and (max-width:992px) {

  .main-menu .nav-badge {
    margin-right: 3px
  }


  .navbar-brand img {
    max-width: 130px
  }

  .about-img img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
  }

  .about-img2 img {
    width: 100%;
    max-width: 100%
  }

  .about-list.mt-80 {
    margin-top: 20px
  }

  .arrow {
    display: none
  }

  .step p {
    margin-bottom: 0
  }

  .step {
    margin-bottom: 0;
    padding: 5px 0 0
  }

  .steps {
    padding-bottom: 40px
  }

  .event-lg.event .event-img img {
    height: auto
  }

  .event-lg.event .event-img {
    height: auto
  }

  .filter-by {
    margin-bottom: 20px
  }

  .about-img .about-play img {
    width: auto;
    right: auto
  }

  .basic-info {
    margin-top: 40px
  }
}

@media screen and (max-width:768px) {
  .main-menu .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0
  }

  .navbar-brand img {
    max-width: 100px
  }

  .search-header .input-group {
    background-position: 3px center
  }

  .search-header .input-group {
    padding-left: 21px
  }

  .search-header select.form-control {
    max-width: 83px;
    padding-left: 4px;
  }



  .main-menu .navbar-expand-sm .navbar-nav .nav-link img {
    max-width: 26px;
    max-height: 26px;
  }

  .icon {
    margin-top: 20px
  }

  .the-title {
    margin-bottom: 10px
  }



  .partner {
    margin-bottom: 15px
  }



  .about-apis {
    padding: 30px 0 0
  }
}

@media screen and (max-width:633px) {



  .main-text {
    min-height: 460px
  }

  .header h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: -170px;
  }

  .about-num {
    border-radius: 30px 30px 30px 0;
    right: 0;
    width: 95px;
    padding: 17px 0;
    font-size: 14px;
  }

  .about-num span {
    font-size: 22px
  }

  .about-text h2 {
    font-size: 25px
  }

  .about-text p {
    font-size: 18px;
    margin-top: 10px
  }

  .about-text {
    margin-bottom: 40px
  }

  .about-list h3 {
    font-size: 18px;
    margin-bottom: 0
  }

  .about-list p {
    font-size: 14px
  }

  .copyrights {
    font-size: 14px
  }

  .product-details {
    padding: 15px 9px
  }

  .login-form {
    padding: 20px 15px
  }

  .the-title h2 {
    font-size: 22px
  }

  .number-items {
    font-size: 11px;
    padding: 1px 10px;
    margin-left: 10px
  }

  .filter-grid {
    display: none
  }

  .supplier-details h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 21px
  }

  .supplier-details p {
    font-size: 15px
  }

  .about-img .about-play {
    right: auto;
    left: -10px
  }

  .about-img .about-play img {
    width: 50px;
    margin-bottom: 0
  }



  .product-details-2 p {
    font-size: 15px;
    margin-bottom: 10px
  }

  .product-btns {
    margin-top: 10px
  }



  .slider-products {
    margin-top: 40px
  }


  .news-data .event-details h4 {
    font-size: 20px
  }

  .similar-events .new .row>div.col-sm-6:last-child {
    padding-left: 15px
  }

  .news-details {
    padding: 10px
  }
}

@media screen and (max-width:360px) {
  .about-img .about-play {
    top: 70px;
    border-radius: 15px 15px 15px 0;
    width: 65px;
    padding: 7px 0;
  }

  .about-img .about-play img {
    width: 40px
  }
}



/***************general*****************/
.changed-label {

  .custom-control-label,
  .colored,
  .form-group>label {
    color: $orange !important;
  }

}


.floatValidation {
  .invalid-feedback {
    position: absolute;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.modal-content {
  background-color: #E0F4F8;
  border: 0;
  border-radius: 47px 47px 0px 47px;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 1rem 2rem;
}

.modal-title {
  color: $mainColor;
  font-weight: bold;
  font-size: 30px;
}

.radius-0 {
  border-radius: 0 !important;
}

.noFormGroup .form-group {
  margin-bottom: 0;
}

.green-color {
  color: $greenColor !important;
}

.orange-color {
  color: $orange !important;
}

.index {
  background: #EEEEEE;
  box-shadow: 0px 4px 8px #2c27380a;
  color: #24B6F7 !important;
  font-size: 14px;
  font-weight: 900;
  display: inline-block;
  margin: 5px 0;
  border-radius: 15px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 35px;
  padding: 2px;
  text-align: center
}

.hint {
  color: $grayColor;
  font-size: 16px;
}

.border-red,
.border-red .ng-select-container {
  border-color: #dc3545 !important;

}

.button-items {
  margin-left: -8px;
  margin-bottom: -12px;

  .btn {
    margin-bottom: 12px;
    margin-left: 8px;
  }
}

.btn.disabled,
.btn:disabled {
  opacity: .6;
}

.btn-outline-success svg {
  zoom: 1.3;

  path {
    fill: #27BEC6;

  }
}

.border-radius-13 {
  border-radius: 13px !important;
}

.border-radius-18 {
  border-radius: 18px !important;
}

.form-group label span.ng-star-inserted {
  color: $red;
}

@media (min-width:991px) {
  .pull-md-right {
    float: right;
  }
}

.product-btns .apis-button {
  margin-bottom: 10px
}

.main-color {
  color: $mainColor !important;
}

.main2-color {
  color: $active-link2 !important;
}

.white-card {
  background: white;
  box-shadow: 0px 2px 6px #0000000F;
  border-radius: 0px 44px;
  border: none;
}

.profile-list {
  accordion-group {
    .card {
      border: none;
      border-radius: 0;
      background-color: transparent;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }

    .card-header {
      background-color: transparent;
      padding: 0;
      border: none;
      border-radius: 0;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }

    .card-body {
      padding: 5px;
      background: rgba(255, 255, 255, 0.3);
    }

  }
}

.formly-accordion {


  accordion-group {
    .card-header {
      background-color: #FAFAFA;
      position: relative;
    }

    .accordion-toggle {
      .btn {
        color: $mainColor;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        outline: unset;

        &:focus {
          box-shadow: none;
        }
      }

      &:before {
        content: " ";
        content: " ";
        display: inline-block;
        position: absolute;
        width: 5px;
        background: $mainColor;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }


    }

    .accordion-toggle[aria-expanded="true"]:after,
    .accordion-toggle[aria-expanded="false"]:after {
      content: " ";
      width: 35px;
      height: 35px;
      float: right;
    }

    [aria-expanded="false"]:after {
      background-image: url(/assets/icons/plus.svg);
    }

    [aria-expanded="true"]:after {
      content: "";
      background-image: url(/assets/icons/minus.svg);
    }

  }
}


.text-success {
  color: $greenColor !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.main-bg {
  background-color: $mainColor;
}

.apis-button {
  background-color: $orange;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  padding: 0.8rem 0.4rem;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
  line-height: 27px;
}

.btn-warning {
  background-color: $orange;
}

.btn-outline-info {
  background-color: #24B6F71A;
  color: #24B6F7;

  border: 1px solid #24B6F7;

  &:hover,
  &:focus,
  .active {
    background-color: #24B6F7;
    color: #fff;
    border-color: #24B6F71A;
  }
}

.btn-outline-info:hover,
.btn-outline-info:focus {
  svg path {
    fill: #fff !important;
  }
}

.btn-danger {
  background-color: rgb(200 35 51 / 10%);
  border: 1px solid #EE4444;
  color: #EE4444;

  &:hover {
    color: white;
  }

  &:hover,
  &:focus {
    svg path:last-child {
      fill: #fff !important;
    }
  }
}

.btn {

  &:hover,
  &:focus {
    svg path:last-child {
      fill: #fff !important;
    }
  }
}

.btn-outline-success {
  background-color: rgb(75 158 144 / 10%);
  border: 1px solid #4B9E90;
  color: #4B9E90;

  &:hover,
  &:focus {
    svg path {
      fill: #fff !important;
    }
  }
}


.btn-outline-secondary {
  background-color: #4545451A;
  border: 1px solid #454545;
  color: #454545;

  svg path {
    fill: #454545 !important;
  }
}

.apis-button:hover {
  text-decoration: none;
  color: #fff
}

.apis-button2 {
  background: rgb(3 115 164 / 10%);
  border: 1px solid $mainColor;
  color: $mainColor
}

.apis-button2:hover {
  color: $mainColor
}

.btn-success {
  background-color: $greenColor;
}

.form-group>label {
  color: #756F86;
  font-size: 16px;
  font-weight: 700;
}

.input-apis input[type="text"],
.input-apis input[type="password"] {
  border-radius: 25px
}

.link-1 {
  color: $active-link2;
  font-size: 14px;
  font-weight: 700
}

.link-1:hover {
  text-decoration: none;
  color: $active-link2;
  opacity: .85;
  transition: all .2s ease-in-out
}

.link-2 {
  color: #24B6F7;
  text-decoration: underline
}

.link-2:hover {
  color: #24B6F7;
  opacity: .85;
  transition: all .2s ease-in-out
}

.gap-2 {
  gap: .5rem !important;
}


.section-apis {
  padding: 60px 0;
}

.the-title,
.sub-title {
  margin-bottom: 30px;

  p {
    font-size: 18px;
    color: $grayColor;
    font-weight: 400
  }

  h2 {
    color: $mainColor;
    font-size: 32px;
    font-weight: 700
  }
}


.sub-title h2 {
  font-size: 24px;
}



.basic-info {
  margin-top: 25px;
  margin-top: 20px;

  h4 {
    color: $active-link2;
    font-size: 22px;
    font-weight: 700;

    img {
      margin-right: 5px
    }
  }

  p {
    font-size: 18px;
    color: $grayColor;
    font-weight: 600
  }

  span {
    color: $taupeGrayColor;
    font-size: 18px;
    font-weight: 800
  }
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.grey-bg {
  background: #EEEEEE
}

.grey-bg2 {
  background: #F7F8F9
}

.grey-bg3 {
  background: #FAFAFA
}

/***************forms*****************/
textarea.form-control {
  border-color: #DBE2EA;
  border-radius: 25px;
  box-shadow: 0px 4px 8px #2C27380A;
  padding: 0.5rem 0.75rem;

  &:focus {
    border: 1px solid $mainColor;
  }
}

.input-apis {

  .form-control,
  .ng2-tag-input {
    padding: 1.375rem 0.75rem;
    border-radius: 25px;
    box-shadow: 0px 4px 8px #2C27380A;
    border-color: #DBE2EA;

    &:focus {
      border: 1px solid $mainColor;
    }

  }

  .ng2-tag-input {
    padding: 0;
    border-bottom: none;
    border: 1px solid #DBE2EA;

  }

  .ng2-tags-container {
    padding: 1rem 0.75rem;

    tag {
      margin: .5rem;
    }
  }
}

.ng2-tag-input.ng2-tag-input--focused {
  border-bottom: none !important;
  border: 1px solid $mainColor  !important;
}

.ng2-tag-input.ng2-tag-input--disabled {
  background: #d6dde3;
}

.input-apis.with-icon {
  .form-control {
    padding-left: 55px
  }
}

.with-icon .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  padding-left: 45px;
}

.ng-select .ng-select-container {
  height: 46px !important;
  line-height: 30px !important;
  border-radius: 25px;
  box-shadow: 0px 4px 8px #2C27380A;
  border-color: #DBE2EA;
}

.ng-select.ng-select-opened>.ng-select-container {
  border-color: $mainColor;
}

.ng-select.ng-select-disabled>.ng-select-container {
  background-color: #e9ecef;
}


.with-icon .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 52px;
}


.ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
  background-color: white !important;

}

.ngx-slider .ngx-slider-pointer:after {
  width: 19px !important;
  height: 19px !important;
  top: 3px !important;
  left: 3px !important;
  border-radius: 50% !important;
}

.ngx-slider .ngx-slider-pointer {
  width: 25px !important;
  height: 25px !important;
  top: -10px !important;
}

.custom-control-label::before,
.custom-control-label::after {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.custom-control-label {
  padding-left: 11px;
  font-size: 16px;
  font-weight: 700;
  color: $greenColor2;
  line-height: 2rem;
  cursor: pointer;
}

.custom-control-input {
  width: 1.5rem;

}

.custom-control-input:checked~.custom-control-label::before {
  border-color: $greenColor2;
  background-color: $greenColor2;

}

.iti {
  display: block;

  .iti__country {
    display: block;
  }
}

.form-control::placeholder {
  color: $grayColor;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: $grayColor;
}

/******************pagination*********************/
.pagination-prev {
  margin-right: 20px;

  .page-link {
    margin: 0;
  }
}

.pagination-next {
  margin-left: 20px;

  .page-link {
    margin: 0;
  }
}

.page-link {
  border-radius: 10px 4px 10px 8px !important;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 700;
}

.page-item.active .page-link,
.page-item .page-link:hover {
  background-color: $active-link2;
  border-color: $active-link2;
  color: white;
}

.page-item.disabled .page-link {
  background-color: $active-link2;
  color: white;
  opacity: .5;
}

.page-link {
  color: $active-link2;
}

.pagination-next .page-link,
.pagination-last .page-link {
  border-radius: 4px 10px 8px 10px !important;
}


/**************sweetAlert*****************/
.swal2-icon.swal2-error.swal2-icon-show {
  zoom: .7;
}


.fc-scroller-harness>.fc-scroller {
  overflow: auto !important;
}

.fc-toolbar-title {
  color: $active-link2;
  font-weight: bold;
  font-size: 17px;
}

.fc {
  .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1rem;
  }

  .fc-toolbar-title {
    font-size: 18px;
    font-weight: 800;
    position: relative;
    padding-left: 45px;

    &::after {
      content: '';
      zoom: 1.2;
      background-image: url(/assets/icons/calendar.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0px;
      top: -5px;
      bottom: 0;
      border-radius: 0px 3px 3px 0px;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 3px;
      background-color: $active-link2;
      position: absolute;
      left: -20px;
      top: 0;
      bottom: 0;
      border-radius: 0px 3px 3px 0px;
    }
  }
}

.fc-daygrid {

  .fc-col-header-cell-cushion {
    color: $active-link2;
  }

  .table-bordered th,
  .table-bordered td {

    text-align: center !important;
  }

  .fc-daygrid-day.fc-day-today {
    background-color: transparent;
  }

  .fc-daygrid-event-dot {
    border-color: $active-link;
  }

  .bg-primary {
    background-color: $active-link2  !important;
  }

}

.text-gray {
  color: $grayColor !important;
}

.table th,
.table td {
  white-space: nowrap;
}