<div class="main-menu" [ngClass]="{'main-bg': !home}">
  <div class="container-lg">
    <nav class="navbar navbar-expand-md the-navbar">
      <!-- Brand -->
      <a class="navbar-brand" routerLink="/home"><img src="assets/img/logo.png"></a>
      <!-- search -->

      <form [formGroup]="form"  class="search-header">
        <div class="input-group mb-3 d-flex justify-content-between">
          <formly-form class="row m-0 w-100" [form]="form" [model]="model" [fields]="fields" [options]="options"> </formly-form>
          <div class="input-group-append">
            <button class="btn" type="button" (click)="onSubmit()"><img src="assets/img/search.svg" class="img-fluid"></button>
          </div>
        </div>

      </form>
      <!-- Links -->


      <ul class="navbar-nav ml-auto navbar-menu">

        <ng-container *ngIf="userData; else elseTemplate_userData">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" title="email" (click)="onReset()">
              <div class="nav-badge"><img src="assets/img/email.svg"><span class="text-truncate" *ngIf="messageCount > 0">{{messageCount}}</span></div>
            </a>
          </li>
          <li class="nav-item">


            <div class="btn-group" dropdown>

              <a href="javascript.void:(0)"  class="nav-link dropdown-toggle text-white d-flex align-items-center"  title="profile"
                id="button-basic" dropdownToggle aria-controls="dropdown-basic">
                <div class="d-flex align-items-center">
                  <div class="nav-badge mr-2"><img src="assets/img/profile.svg"></div>
                  <span class="text-white text-truncate" style="width: 60px;">{{userData?.username}}</span>
                  <span class="caret"></span>
                </div>

              </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" routerLink="/profile">{{'Profile' | translate}}</a></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript.void:(0)" (click)="onSignOut()">{{'Logout'
                    | translate}}</a></li>
              </ul>
            </div>
          </li>
        </ng-container>
        <ng-template #elseTemplate_userData>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white font-weight-600" routerLink="/auth/login" title="profile">
              {{'Login' | translate}}
            </a>
            <span class="text-white">/</span>
            <a class="nav-link text-white font-weight-600" routerLink="/auth/signup" title="profile">
              {{'Signup' | translate}}
            </a>
          </li>
        </ng-template>



        <!-- Dropdown -->
        <li class="nav-item dropdown the-menu ml-md-5 ml-3">
          <div class="main-menu border-section border-top-0">
            <div class="menu-left">
              <app-left-menu></app-left-menu>
            </div>
          </div>


          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
