:host ::ng-deep{
  @import 'src/assets/scss/variables';

  .navbar{
    flex-wrap: wrap!important;
  }
  .navbar-nav .dropdown-menu {
    position: absolute!important;
}
.search-header {
  margin: 10px auto 0;
  .btn {
    background: #fff;
    border-radius: 25px
  }

  .input-group-append{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  input.form-control {
    height: 54px;
    border: 0;
    width: 350px;
    background-image: url(/assets/img/Line.svg);
    background-repeat: no-repeat;
    background-position: left center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @media screen and (max-width:1200px) {
      width: 280px
    }
    @media screen and (max-width:992px) {
      width: 100%
    }
  }

  select.form-control {
    padding: 5px;
    border: 0;
    height: 54px;
    /*min-width: 170px*/
    width: auto;
    color: $mainColor;
    font-size: 13px;
    font-weight: 700;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 120px;
    @media screen and (max-width:1200px) {
      width: 100px
    }
    @media screen and (max-width:992px) {
      max-width: 90px
    }
  }
  .input-group {
    background-repeat: no-repeat;
    background-image: url(/assets/img/widgets_black_24dp.svg);
    background-position: 12px center;
    padding-left: 30px;
    border-radius: 25px;
    background-color: #fff;
  }
  &:placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DDDDDD;
    opacity: 1;
    /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #DDDDDD;
  }
  &:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #DDDDDD;
  }
  select.form-control option[value=""][disabled] {
    display: none;
  }

}

}
@media screen and (max-width:820px) {
  .main-menu{
    background: rgb(0 0 0 / 10%);
  }
  .the-menu .dropdown-menu {
    right: 0;
    left: auto;
    z-index: 99;
    position: absolute!important;
  }

  .navbar-menu {
    position: absolute;
    top: 20px;
    right: 0;
    flex-direction: initial;
    padding-right: 0;
    padding-left: revert;
  }

  .main-menu .nav-badge {
    margin-right: 13px
  }

  .search-header {
    width: 100%;
    margin-top: 0
  }
}
