<div class="security-icon">
  <div [inlineSVG]="'assets/icons/activation-email.svg'"></div>
</div>
<h1 class="text-success">{{'thankYou' | translate}}</h1>
<p>{{'confirmationParagraph' | translate}} <a href="#" class="text-success"> "email@email.com"</a> {{'confirmationParagraph2' | translate}}</p>
<form (ngSubmit)="onSubmit()">

  <div class="form-group btn-margin">
    <button type="submit" class="apis-button btn-block btn-warning">{{'BackToLogin' | translate}}</button>
  </div>
  <div class="form-group text-center">
    <p class="sign-q">{{'Did_not_see_it' | translate}} <a routerLink="/auth/login" class="link-2"> {{'sendAgain' | translate}}</a></p>
  </div>
</form>
