<div class="section-apis grey-bg3 =">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 mb-4">
        <div class="profile-list">
          <a routerLink="./dashboard" [routerLinkActive]="['active']">
            <i inlineSVG="assets/icons/dashboard.svg"></i>
            {{'Dashboard' | translate}}
            </a>

          <a routerLink="./info" [routerLinkActive]="['active']">
            <i inlineSVG="assets/icons/profile.svg"></i>
            {{'Profile' | translate}}
          </a>


          <a href="#">
            <i inlineSVG="assets/icons/inbox.svg"></i>
            Inbox
            <span class="bi">44</span>
          </a>

           <accordion [closeOthers]="true">
            <accordion-group>
              <a href="javascript:void(0)" accordion-heading>
                <i inlineSVG="assets/icons/cart.svg"></i>
                Deals
                <span class="arrow-d">
                  <i inlineSVG="assets/icons/arrow-down.svg"></i>
                </span>
              </a>

              <a href="#">Message</a>
              <a href="#">Message</a>
              <a href="#">Message</a>
            </accordion-group>

          </accordion>



          <a routerLink="./products" [routerLinkActive]="['active']">
            <img src="assets/icons/prod.svg" alt="">
            My products
          </a>
          <a href="#">
            <img src="assets/icons/heart.svg" alt="">
            Favorite Products
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-12">

        <router-outlet></router-outlet>


      </div>
    </div>
  </div>
</div>
