<div class="section-apis grey-bg3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-list">
          <a routerLink="./dashboard" [routerLinkActive]="['active']"><img
              src="assets/icons/dashboard.svg">{{'Dashboard' | translate}}</a>
          <a routerLink="./info" [routerLinkActive]="['active']"><img src="assets/img/p1.svg">{{'Profile' |
            translate}}</a>

          <!-- <div id="order-collapse" class="collapse">

                </div> -->


          <accordion [closeOthers]="true">
            <accordion-group>
              <a href="javascript:void(0)" accordion-heading><img src="assets/img/p2.svg">Orders<span>99</span></a>

              <a href="#">Message<span>99</span></a>
              <a href="#">Message<span>99</span></a>
              <a href="#">Message<span>99</span></a>
            </accordion-group>

          </accordion>
          <a href="#"><img src="assets/img/p3.svg">Message<span>99</span></a>
          <a href="#"><img src="assets/img/p4.svg">Catch it<span>99</span></a>
          <a href="#"><img src="assets/img/p5.svg">Invoice<span>99</span></a>
          <a href="#"><img src="assets/img/p6.svg">My products<span>99</span></a>
        </div>
      </div>
      <div class="col-md-9">

        <router-outlet></router-outlet>

        <!-- <div class="block-1">
                <form class="form-inline">
                    <div class="col-sm-12 input-apis">
                        <div class="row">
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="type the company, product..." style="width: 100%">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-block apis-button"><img src="assets/icons/search2.svg">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group inline-select">
                      <label class="label-inline">Filter by:</label>
                      <select class="form-control">
                        <option value="" disabled="" selected="">Category</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group inline-select">
                      <select class="form-control">
                        <option value="" disabled="" selected="">Sub Category</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group inline-select">
                      <select class="form-control">
                        <option value="" disabled="" selected="">Origin</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group inline-select">
                      <select class="form-control">
                        <option value="" disabled="" selected="">Status</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                </form>
            </div> -->
      </div>
    </div>
  </div>
</div>
