<div class="section-apis grey-bg3 =">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12 mb-4">
        <div class="profile-list">
          <a routerLink="./dashboard" [routerLinkActive]="['active']">
            <i inlineSVG="assets/icons/dashboard.svg"></i>
            {{'Dashboard' | translate}}
          </a>
          <a routerLink="./info" [routerLinkActive]="['active']">
            <i inlineSVG="assets/icons/profile.svg"></i>
            {{'Profile' | translate}}
          </a>
          <a routerLink="./inbox" [routerLinkActive]="['active']">
            <i inlineSVG="assets/icons/inbox.svg"></i>
            {{'Inbox' | translate}}
          </a>
          <accordion [closeOthers]="true">
            <accordion-group [isOpen]="router.isActive('/profile/deals', false)">
              <a href="javascript:void(0)" accordion-heading [class.active]="router.isActive('/profile/deals', false)">
                <i inlineSVG="assets/icons/cart.svg"></i>
                {{'Deals' | translate}}
                <span class="arrow-d">
                  <i inlineSVG="assets/icons/arrow-down.svg"></i>
                </span>
              </a>
              <a routerLink="./deals/inquiries" [routerLinkActive]="['active']"> {{'Inquiry' | translate}}</a>
              <a routerLink="./deals/quotations" [routerLinkActive]="['active']"> {{'Quotation' | translate}}</a>
              <a routerLink="./deals/orders" [routerLinkActive]="['active']"> {{'Order' | translate}}</a>
              <a routerLink="./deals/invoices" [routerLinkActive]="['active']"> {{'Invoice' | translate}}</a>
              <!-- <a routerLink="./deals/drafts" [routerLinkActive]="['active']"> {{'Drafts' | translate}}</a> -->
            </accordion-group>
          </accordion>
          <a routerLink="./products" [routerLinkActive]="['active']" *ngIf="userData?.role === 'SUPPLIER'">
            <img src="assets/icons/prod.svg" alt="">
            {{'MyProducts' | translate}}
          </a>
          <a routerLink="./favorite-products" [routerLinkActive]="['active']">
            <img src="assets/icons/heart.svg" alt="">
            {{'FavoriteProducts' | translate}}
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
