<accordion-group [isOpen]="false" class="mt-4" [ngClass]="{ supplierDeal: odd }" *ngIf="productDetails && details">
  <div class="btn" accordion-heading>
   
     <ng-container *ngIf="lastApproveInquiry; else elseTemplate_lastApproveInquiry">
         Final Approved Inquiry
     </ng-container>
     <ng-template #elseTemplate_lastApproveInquiry>
      {{ reply?.createdBy?.username }} : Inquiry {{ reply?.inquiryVersionNumber }}
     </ng-template>
     
  </div>
  <div class="card white-card">
     <div class="card-body">
        <div class="row basic-info">
           <!------------------------------category------------------------------------>
           <h4 class="col-12 mb-3">{{ "category" | translate }}:</h4>
           <p class="col-md-6">
              <span>{{ "category" | translate }} * : </span>{{productDetails?.itemCategory?.categoryName}}
           </p>
           <p class="col-md-6">
              <span>{{ "SubCategory" | translate }} * : </span>{{productDetails?.itemSubcategory?.subcategoryName}}
           </p>
           <!------------------------------BasicInfo------------------------------------>
           <h4 class="col-12 my-3">{{ "BasicInfo" | translate }}:</h4>
           <p class="col-12">
              <span>{{ "ProductName" | translate }} * : </span>{{productDetails?.itemName}}
           </p>
           <p class="col-md-6">
              <span>{{ "casNo" | translate }} * : </span>{{productDetails?.caseNumber}}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('molFormula')}">{{ "MolecularFormula" | translate }} : </span>{{ details?.molFormula }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('origin')}">{{ "origin" | translate }} * : </span>{{ details?.origin?.originName }}
           </p>
           <p class="col-md-6">
              <span>{{ "SupplierType" | translate }} * : </span>{{productDetails?.supplierCategory?.categoryDescription}}
           </p>
           <p class="col-12 mb-1">
              <span>{{ "ProductDetails" | translate }}: </span>
           </p>
           <p class="col-md-12 font-size-16">{{productDetails?.details}}</p>
           <!------------------------------ProductAttribute------------------------------------>
           <h4 class="col-12 my-3">{{ "ProductAttribute" | translate }}:</h4>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('purity')}">{{ "Purity" | translate }} * : </span>{{ details?.purity }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('appearance')}">{{ "Appearance" | translate }} : </span>{{ details?.appearance }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('storage')}">{{ "Storage" | translate }} : </span>{{ details?.storage }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('application')}">{{ "Application" | translate }} * : </span>{{ details?.application }}
           </p>
           <!------------------------------ProductAdvantage------------------------------------>
           <h4 class="col-12 my-3">{{ "ProductAdvantage" | translate }}:</h4>
           <p class="col-md-12 font-size-16">{{productDetails?.advantage}}</p>
           <!------------------------------KeySpecification------------------------------------>
           <h4 class="col-12 my-3">{{ "KeySpecification" | translate }}:</h4>
           <p class="col-12">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('relatedSubstance')}">{{ "RelatedSubstances" | translate }} : </span>{{ details?.relatedSubstance }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('residueIgnition')}">{{ "Residue_on_ignition" | translate }} : </span>{{ details?.residueIgnition }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('heavyMetal')}">{{ "HeavyMetal" | translate }} : </span>{{ details?.heavyMetal }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('expiryDate')}">{{ "ValidPeriod" | translate }} : </span>{{details?.expiryDate}}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('meltingRange')}">{{ "MeltingRange" | translate }} : </span>{{ details?.meltingRange }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('lossOnDrying')}">{{ "Loss_on_drying" | translate }} : </span>{{ details?.lossOnDrying }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('ph')}">{{ "PH" | translate }} : </span>{{ details?.ph }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('residualSolvents')}">{{ "ResidualSolvents" | translate }} : </span>{{ details?.residualSolvents }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('form')}">{{ "From" | translate }} : </span>{{ details?.form }}
           </p>
           <p class="col-md-6 d-flex align-items-center">
              <ng-container *ngIf="details?.micronization; else elseTemplate_micronization">
                 <img src="assets/icons/checkbox.svg" alt="Micronization" width="24" />
              </ng-container>
              <ng-template #elseTemplate_micronization>
                 <img src="assets/icons/uncheckbox.svg" alt="Micronization" width="24" />
              </ng-template>
              <span class="d-inline-block mx-3 main2-color font-size-16" [ngClass]="{'orange-color': details?.changedAttributes?.includes('micronization')}">{{"Micronization" | translate}}</span>
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('particleSize')}">{{ "ParticleSizeD90" | translate }} * : </span>{{ details?.particleSize }}
           </p>
           <p class="col-12">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('opticalRotation')}">{{ "OpticalRotation" | translate }} : </span>{{ details?.opticalRotation }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('dissolutionRate')}">{{ "DissolutionRate" | translate }} * : </span>{{ details?.dissolutionRate }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('dissolutionRate')}">{{ "hour" | translate }} * : </span>{{ splitHour(details?.dissolutionRate) }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('totalVac')}">{{ "Total_viable_aerobic_Count" | translate }} : </span>{{details?.totalVac?.split("cfu/gm")[0] }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('totalYamc')}">{{ "Total_yeast_and_mould_count" | translate }} : </span>{{ details?.totalYamc?.split("cfu/gm")[0] }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('escherichiaColi')}">{{ "EscherichiaColi" | translate }} : </span>{{ details?.escherichiaColi }}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('salmonelaSpecies')}">{{ "SalmonellaSpecies" | translate }} : </span>{{ details?.salmonelaSpecies }}
           </p>
           <p class="col-md-6 d-flex align-items-center">
              <ng-container *ngIf="details?.injection; else elseTemplate_injection">
                <img src="assets/icons/checkbox.svg" alt="Injection" width="24" />
              </ng-container>
              <ng-template #elseTemplate_injection>
                <img src="assets/icons/uncheckbox.svg" alt="Micronization" width="24" />
              </ng-template>

              <span class="d-inline-block mx-3 main2-color font-size-16" [ngClass]="{'orange-color': details?.changedAttributes?.includes('injection')}">{{"Injection" | translate}}</span>
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('indotoxinTest')}">{{ "endotoxinTest" | translate }} * : </span>{{details?.indotoxinTest}}
           </p>
           <!------------------------------ProductCertificates------------------------------------>
           <h4 class="col-12 my-3">{{ "ProductCertificates" | translate }}:</h4>
           <div class="col-12">
              <app-imgs-preview [images]="productDetails?.itemCertificateDtos"></app-imgs-preview>
           </div>
           <!------------------------------TradeInformation------------------------------------>
           <h4 class="col-12 my-3">{{ "TradeInformation" | translate }}:</h4>
           <p class="col-md-6">
              <span>{{ "MinimumOrderQuantity" | translate }} : </span>{{productDetails?.minOrderQuantity}}
           </p>
           <p class="col-md-6">
              <span>{{ "Unit" | translate }} : </span>{{productDetails?.uom?.uomName}}
           </p>
           <p class="col-md-6">
              <span>{{ "Storage" | translate }} : </span>{{productDetails?.storageTradeInformation}}
           </p>
           <p class="col-md-6">
              <span>{{ "ValidPeriod" | translate }} : </span>{{productDetails?.expiryDate}}
           </p>
           <!------------------------------ProductPrice------------------------------------>
           <h4 class="col-12 my-3" [ngClass]="{'orange-color': details?.changedAttributes?.includes('inquiryVersionPrices')}">{{ "ProductPrice" | translate }}:</h4>
           <div class="col-12">
              <div class="table table-responsive">
                 <table class="table">
                    <tbody>
                       <tr *ngFor="let item of details?.inquiryVersionPrices; let i = index">
                          <td class="px-2 py-0 align-middle">
                             <span class="index">{{ i + 1 }}</span>
                          </td>
                          <td class="px-2 py-0 align-middle">
                             {{ "Quantity #0" + i + 1 }}
                          </td>
                          <td class="px-2 py-0 align-middle">
                            <span class="font-size-16">
                            {{ "Quantity" | translate }} * : &nbsp;</span>
                            <span >
                            {{ item?.quantity }}
                            {{ item?.uom?.uomName }}
                            </span>
                         </td>
                          <td class="px-2 py-0 align-middle">
                            <span class="font-size-16">
                            {{ "Price" | translate }} * : &nbsp;</span>
                            <span >
                            {{ item?.unitPrice }}
                            {{ item?.currency?.currencyCode }}
                            </span>
                         </td>
                         <td class="px-2 py-0 align-middle">
                          <span class="font-size-16">
                          {{ "PaymentTerms" | translate }} * : &nbsp;</span>
                          <span >
                          <!-- {{ item?.itemPaymentTerm }} -->
                          ??
                          </span>
                       </td>


                       </tr>
                    </tbody>
                 </table>
              </div>
           </div>
           <!------------------------------AllowedSample------------------------------------>
           <h4 class="col-12 my-3">{{ "AllowedSample" | translate }}:</h4>
           <p class="col-12">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('itemSampleType')}">{{ "sampleType" | translate }} * : </span>{{details?.itemSampleType?.itemSampleTypesName}}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('sampleSize')}">{{ "SampleSize" | translate }} * : </span>{{details?.sampleSize}}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('sampleUnit')}">{{ "SampleUnit" | translate }} * : </span>{{details?.sampleUnit?.uomName}}
           </p>
           <!------------------------------ProductShipping------------------------------------>
           <h4 class="col-12 my-3">{{ "ProductShipping" | translate }}:</h4>
           <p class="col-12">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('portOfDestination')}">{{ "Port_of_Discharge" | translate }} : </span>{{details?.portOfDestination}}
           </p>
           <!------------------------------ProductionCapacity------------------------------------>
           <h4 class="col-12 my-3">{{ "ProductionCapacity" | translate }}:</h4>
           <p class="col-12">
              <span>{{ "Value" | translate }} : </span>{{productDetails?.productionCapacity}}
           </p>
           <p class="col-md-6">
              <span>{{ "Unit" | translate }} : </span>{{returnProductionCapacityUnit(productDetails?.productionCapacity)}}
           </p>
           <p class="col-md-6">
              <span>{{ "Period" | translate }} : </span>{{productDetails?.productionCapacity?.split("/")[1]}}
           </p>
           <p class="col-md-6">
              <span>{{ "EstimatedLeadTime" | translate }} : </span>{{returnEstimatedDeliveryLeadTime(productDetails?.estimatedDeliveryLeadTime)}}
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('packaging')}">{{ "Package" | translate }} : </span>{{details?.packaging}}
           </p>

           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('itemIncoterm')}">{{ "Incoterms" | translate }} : </span>
              <!-- {{details?.itemIncoterm}} -->
              ??
           </p>
           <p class="col-md-6">
              <span [ngClass]="{'orange-color': details?.changedAttributes?.includes('transportation')}">{{ "Transportation" | translate }} : </span>{{details?.transportation}}
           </p>
           <!------------------------------ShippingCertificate------------------------------------>
           <h4 class="col-12 my-3">{{ "ShippingCertificate" | translate }}:</h4>
           <div class="col-12">
              <app-imgs-preview [images]="productDetails?.shippingCertificateDtos"></app-imgs-preview>
           </div>
           <!------------------------------Supplement------------------------------------>
           <h4 class="col-12 my-3" [ngClass]="{'orange-color': details?.changedAttributes?.includes('inquiryVersionSuppliments')}">{{ "Supplement" | translate }}:</h4>
           <ng-container *ngFor="let item of details?.inquiryVersionSuppliments">
            <p class="col-md-6">
              <span class="green-color">{{ "Attribute" | translate }} : </span>{{item?.attribute}}
           </p>
           <p class="col-md-6">
              <span class="green-color">{{ "Value" | translate }} : </span>{{item?.value}}
              1
           </p>
           </ng-container>


           <!-- <div class="col-12">
              <app-imgs-preview></app-imgs-preview>
           </div> -->
           <p class="col-12 mb-1">
              <span class="green-color" [ngClass]="{'orange-color': details?.changedAttributes?.includes('extraComment')}">{{ "Extra_point_discussion" | translate }}:
              </span>
           </p>
           <p class="col-md-12 font-size-16">
            {{details?.extraComment}}
           </p>
        </div>
     </div>
  </div>
  </accordion-group>
