<div class="supplier-product">
  <div class=" d-flex flex-md-row flex-column">
    <div class="product-img">
      <img
      [defaultImage]="product?.attachment?.attachmentSource?.attachmentSourceName ? product?.attachment?.attachmentSource?.attachmentSourceName : 'assets/img/image2.jpg'"
      [lazyLoad]="product?.attachment?.attachmentSource?.attachmentSourceName ? product?.attachment?.attachmentSource?.attachmentSourceName : 'assets/img/image2.jpg'"
      onerror="this.src='assets/img/image2.jpg';" class="img-fluid lazy-loading"
      alt="{{ product?.itemName ? product.itemName : '' }}" />
    </div>
    <div class="product-details ml-3">
      <h4>{{product?.itemName}}</h4>

      <div class="product-details-2 mt-4">
        <div class="row">
          <div class="col-12">
            <p><span>{{'category' | translate}}: </span>{{product?.itemCategory?.categoryName}}</p>
          </div>
          <div class="col-12">
            <p><span>{{'origin' | translate}}: </span>{{product?.origin?.originName}}</p>
          </div>
          <div class="col-12">
            <p><span>{{'status' | translate}}: </span>{{product?.status}}</p>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="product-btns">
        <button type="button" class="apis-button btn-outline-info" [routerLink]="['/profile/products/edit/',product?.itemId]">
          <span [inlineSVG]="'assets/icons/edit.svg'"></span>
          {{'edit' |translate}}
        </button>
        <button type="button" class="apis-button btn-danger" (click)="onAction('delete')">
          <span [inlineSVG]="'assets/icons/delete.svg'"></span>
          {{'delete' |translate}}
        </button>
        <button type="button" class="apis-button btn-outline-success" (click)="onAction('Republish')">
          <span [inlineSVG]="'assets/icons/Republish.svg'"></span>
          {{'Republish' |translate}}
        </button>
        <button type="button" class="apis-button btn-danger" (click)="onAction('UnPublish')">
          <span [inlineSVG]="'assets/icons/Un-Publish.svg'"></span>
          {{'UnPublish' |translate}}
        </button>

        <button type="button" class="apis-button btn btn-warning pull-md-right" [routerLink]="['/products/details/',product?.itemId]"  >
          <span [inlineSVG]="'assets/icons/eye.svg'"></span>
          {{'Preview' |translate}}
        </button>
      </div>
    </div>
  </div>
</div>
