<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

<div class="row">
  <div class="col-12">
    <div class="card white-card mb-4" style="border-radius: 0px 0px 40px 0px;">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-8">
              <formly-form class="row" [form]="form" [model]="model" [fields]="fields"> </formly-form>
            </div>
            <div class="col-lg-4">
              <button type="submit" class="apis-button btn-warning  px-5">
                <span [inlineSVG]="'assets/icons/search2.svg'"></span>
                {{'search' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card white-card" style="border-radius: 0px">
      <div >
        <div class="row">
          <div class="col-12">
          <app-profile-deal-card status="danger"></app-profile-deal-card>
          </div>
          <div class="col-12">
            <app-profile-deal-card status="primary"></app-profile-deal-card>
          </div>
          <div class="col-12">
            <app-profile-deal-card status="warning"></app-profile-deal-card>
          </div>
        </div>
        <div class="mt-4">
          <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true" [totalItems]="77" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
