  <!-- start footer -->
  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-9 col-sm-12">
                <img src="assets/img/APIS.png" class="mb-20">
                <p>SOURCE YOUR APIs<br>
                    3,000+ APIs SUPPLIER & 25000++ APIs CUSTOMER WORLDWIDE</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <h4>{{'Resources' | translate}}</h4>
                <ul class="foolter-list">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <h4>{{'Company' | translate}}</h4>
                <ul class="foolter-list">
                    <li><a routerLink="/about-us">{{'AboutUs' | translate}}</a></li>
                    <li><a routerLink="/news">{{'news' | translate}}</a></li>
                    <li><a  routerLink="/events">{{'events' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-42">
                <h4>Product</h4>
                <ul class="foolter-list">
                    <li><a routerLink="/products">{{'Products' | translate}}</a></li>
                    <li><a routerLink="/suppliers" *ngIf="userData">{{'ourSuppliers' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h4>Get in touch</h4>
                <p>Join our movement with newsletters, updates, and offers.</p>
                <form>
                    <div class="input-group mb-3 subscribe">
                        <input type="text" class="form-control" placeholder="Your Email">
                        <div class="input-group-append">
                          <button class="btn" type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
                <ul class="social">
                    <li><a href="#" title="facebook"><img src="assets/img/facebook.png"></a></li>
                    <li><a href="#" title="linkedin"><img src="assets/img/linkedin.png"></a></li>
                    <li><a href="#" title="twitter"><img src="assets/img/twitter.png"></a></li>
                    <li><a href="#" title="youtube"><img src="assets/img/youtube.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->
<!-- start copyrights -->
<div class="copyrights">All rights reserved</div>
<!-- end copyrights -->
