  <!-- start footer -->
  <div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-9 col-sm-12">
                <img src="assets/img/APIS.png" class="mb-20">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been .</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <h4>Resources</h4>
                <ul class="foolter-list">
                    <li><a href="#">Our Homes</a></li>
                    <li><a href="#">Member Stories</a></li>
                    <li><a href="#">Video</a></li>
                    <li><a href="#">Free Trial</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <h4>Company</h4>
                <ul class="foolter-list">
                    <li><a href="#">Partnerships</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-42">
                <h4>Product</h4>
                <ul class="foolter-list">
                    <li><a href="#">Listing</a></li>
                    <li><a href="#">Property</a></li>
                    <li><a href="#">Agents</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h4>Get in touch</h4>
                <p>Join our movement with newsletters, updates, and offers.</p>
                <form>
                    <div class="input-group mb-3 subscribe">
                        <input type="text" class="form-control" placeholder="Your Email">
                        <div class="input-group-append">
                          <button class="btn" type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
                <ul class="social">
                    <li><a href="#" title="facebook"><img src="assets/img/facebook.png"></a></li>
                    <li><a href="#" title="linkedin"><img src="assets/img/linkedin.png"></a></li>
                    <li><a href="#" title="twitter"><img src="assets/img/twitter.png"></a></li>
                    <li><a href="#" title="youtube"><img src="assets/img/youtube.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->
<!-- start copyrights -->
<div class="copyrights">All rights reserved</div>
<!-- end copyrights -->
