<div class="supplier">
  <div class="row">
      <div class="col-sm-6">
          <div class="supplier-img"><img src="assets/img/rowlands_logo_png.png"></div>
      </div>
      <div class="col-sm-6">
          <div class="supplier-details">
              <h4>Supplier Name</h4>
              <p><span>Category:</span> Natural Extracts,Plant Extracts</p>
              <p><span>Company:</span> JF-NATURAL</p>
              <div style="margin-top: 30px">
                  <a routerLink="/suppliers/details" class="apis-button px-5">View Products(20)</a>
              </div>
          </div>
      </div>
  </div>
</div>
