 <!-- start about-apis -->
 <div class="section-apis">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="about-text">
                  <h3>About <span>APIS</span></h3>
                  <h4>Active Pharmaceutical Ingredients is an  <span>Online</span> Integrated Portal System
                    It’s Your Global Sourcing Partner
                    </h4>
                  <p>APIs-online.com is a tech driven sourcing AI engine of No any human interfere, No bias, No hidden or extra cost and committed to ease your business by making your pharma supply chain management easier, faster, and efficient from everywhere globally and to anywhere on the globe
                  </p>
               
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="about-img">
                  <img src="assets/img/about1.png">
                  <div class="about-num about-play"><img src="assets/img/video.svg"></div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end about-apis -->
<!-- start statistics -->
<div class="statistics statistics2 section-apis">
  <div class="container">
      <div class="shape1">
          <div class="row">
              <div class="col-md-3 col-sm-6">
                  <div class="icon">
                      <div class="icon-img"><img src="assets/img/molecular-structure.png"></div>
                      <p class="mt-2">TRADE ASSURANCE</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="icon">
                      <div class="icon-img"><img src="assets/img/packages.png"></div>
                      <p class="mt-2">PAYMENT SOLUTION</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="icon">
                      <div class="icon-img"><img src="assets/img/molecular-structure.png"></div>
                      <p class="mt-2">LOGISTIC SERVICES</p>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="icon">
                      <div class="icon-img"><img src="assets/img/packages.png"></div>
                      <p class="mt-2">INSPECTION SOLUTIONS</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end statistics -->
<!-- start about -->
<div class="about section-apis">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="about-img">
                  <img src="assets/img/about1.png">
                  <div class="about-num"><span>12K</span>Raw Material</div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="about-text">
                  <h2>What moves  <span>apis-online.com</span>?!</h2>
                  <p>Your driven is apis-online.com driven. They are really identical!
                    Time, Money, business performance and progress are our motives. Is it Identical?!
                    </p>
              </div>
              <div class="about-list">
                  <h3><img src="assets/img/icon1.png">Commitment</h3>
                  <p>Introducing a 100% free of charge service to you as user is one of main commitments to you. No any commission, No any markups or even no any hidden cost</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="about-list mt-80">
                  <h3><img src="assets/img/icon2.png">High Quality Suppliers</h3>
                  <p>All suppliers you may find using the system are verified, audited, and trusted as you can source your APIs easily, and safe. Its apis-online.com to cut off all this hassle and risk you may face by your own</p>
              </div>
              <div class="about-list">
                  <h3><img src="assets/img/icon3.png">Professional support team</h3>
                  <p>The only human factor exists is YOU! Yes Your expectations, comments and requirements makes apis-online.com to be in continuous and dynamic developing, enhancement, and success stage. You yourself is one of apis-online.com professional team assuring system sustainability.</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="about-img2">
                  <img src="assets/img/about2.png">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="about-img2">
                  <img src="assets/img/about2.png">
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="about-list mt-80">
                  <h3><img src="assets/img/icon2.png">How it works!</h3>
                  <p>Very simple in three main steps! <br>
                    1- Name you API or Supplier; <br>
                    2- choose from the results; Customize, <br>
                    3- Negotiate, and Purchase
                    Very Simple and you have the full control! How Awesome it is!
                    </p>
              </div>
              <div class="about-list">
                  <h3><img src="assets/img/icon3.png">Who can use apis-online.com?</h3>
                  <p>Apis-online.com is customized for professionals in the pharma industry field as well pharma fine chemicals business. Either you are pharmaceuticals manufacturer, or APIs manufacturer you are welcome to register and get the advantages of apis-online.com. It’s the Future</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="about-list mt-80">
                  <h3><img src="assets/img/icon2.png">What to get!</h3>
                  <p>Apis-online.com is the hub for your pharma B2B. Your sourcing, vendors verification, pay online, market studies, Vendors negotiation, full suppliers/users contact and even find materials which are not on the system are apis-online services and MORE!</p>
              </div>
              <div class="about-list">
                  <h3><img src="assets/img/icon3.png">Innovation </h3>
                  <p>Innovation is apis-online.com spirit. We believe in apis-online.com as innovation is to get what you really need an miss and introduce it to you to ease your and all human life. Innovation is coming from you! Its always inside you!</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="about-img2">
                  <img src="assets/img/about2.png">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end about -->
