<accordion class="formly-accordion mb-3">
  <app-profile-deal-inquiry title="Final Approved Inquiry"></app-profile-deal-inquiry>

  <app-profile-deal-quotation userType="supplier"  title="Final Approved Quotation"></app-profile-deal-quotation>

  <app-profile-deal-order userType="user"  title="Final Approved Order"></app-profile-deal-order>

</accordion>

<!-- <app-deal-waiting-reply></app-deal-waiting-reply> -->

<app-profile-deal-invoice></app-profile-deal-invoice>



<app-profile-deal-completed></app-profile-deal-completed>
