<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

<div class="row">
  <div class="col-12">
    <div class="card white-card mb-4" style="border-radius: 0px 0px 40px 0px;">
      <div class="card-body">
        <ng-container *ngIf="isLoadingForm; else elseTemplateForm">
          <ngx-skeleton-loader count="2" [theme]="{
          'border-radius': '90px',
           'height': '50px',
          'background-color': '#e1e1e140',
          'border': '1px solid white',
          'margin':'10px 0'
        }"></ngx-skeleton-loader>
        </ng-container>
        <ng-template #elseTemplateForm>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-8">
                <formly-form class="row" [form]="form" [model]="model" [fields]="fields"> </formly-form>
              </div>
              <div class="col-lg-4">
                <button type="submit" class="apis-button btn btn-warning  px-5">
                  <span [inlineSVG]="'assets/icons/search2.svg'"></span>
                  {{'search' | translate}}</button>
              </div>
            </div>
          </form>
          </ng-template>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card white-card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="the-title">
            <h2>{{'MyProducts' | translate}}<span class="number-items">{{products?.length}} {{'Product' | translate}}</span></h2>
          </div>
          <div>
            <a routerLink="../add" class="apis-button btn-success px-4">
              <span [inlineSVG]="'assets/icons/add.svg'"></span>
              {{'addProduct' | translate}}</a>
          </div>
        </div>
        <ng-container *ngIf="isLoading; else elseTemplate">
          <div class="row">
            <div class="col-sm-6" *ngFor="let item of [].constructor(6)">
              <app-skeleton-card-box></app-skeleton-card-box>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <ng-container *ngIf="products?.length <= 0; else elseTemplateNoData">
            <div class="row justify-content-center">
              <div class="col-md-10 col-12">
                <app-no-data></app-no-data>
              </div>
            </div>
          </ng-container>
          <ng-template #elseTemplateNoData>

            <div class="row">
              <ng-container *ngFor="let product of products">
                <div class="col-12">
                  <app-supplier-product [product]="product"></app-supplier-product>
                </div>
              </ng-container>

            </div>
          </ng-template>
        </ng-template>



        <div class="mt-4" *ngIf="totalElements > 0">
          <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true" [totalItems]="totalElements" previousText="&lsaquo;" nextText="&rsaquo;"
            (pageChanged)="pageChanged($event)" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="pageSize"
            [maxSize]="3">
          </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
