<!-- start header -->
<div class="header">
  <app-nav home="false"></app-nav>
  <div class="main-text">
    <div class="container">
      <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</h2>
    </div>
  </div>
</div>
<!-- end header -->
<!-- start statistics -->
<div class="statistics">
  <div class="container">
    <div class="shape1">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="icon">
            <div class="icon-img"><img src="assets/img/molecular-structure.png"></div>
            <span>12k</span>
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon">
            <div class="icon-img"><img src="assets/img/packages.png"></div>
            <span>120k</span>
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon">
            <div class="icon-img"><img src="assets/img/molecular-structure.png"></div>
            <span>12k</span>
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon">
            <div class="icon-img"><img src="assets/img/packages.png"></div>
            <span>120k</span>
            <p>Lorem Ipsum is simply dummy text of the printing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end statistics -->
<!-- start about -->
<div class="about section-apis">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about-img">
          <img src="assets/img/about1.png">
          <div class="about-num"><span>12K</span>Raw Material</div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-text">
          <h2>An easy way to get <span>quotes</span></h2>
          <h2>according to your sourcing <span>requests</span></h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
        <div class="about-list">
          <h3><img src="assets/img/icon1.png">Precise Matching Service</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about-list mt-80">
          <h3><img src="assets/img/icon2.png">High Quality Suppliers</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="about-list">
          <h3><img src="assets/img/icon3.png">Professional Service Team</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-img2">
          <img src="assets/img/about2.png">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end about -->
<!-- start steps -->
<div class="steps">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="step">
          <span>01</span>
          <div class="step-img"><img src="assets/img/icon4.png"></div>
          <h4>Professional Service Team</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <img src="assets/img/curve-down-arrow.png" class="arrow">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="step">
          <span>02</span>
          <div class="step-img"><img src="assets/img/icon5.png"></div>
          <h4>Professional Service Team</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <img src="assets/img/curve-down-arrow.png" class="arrow">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="step">
          <span>03</span>
          <div class="step-img"><img src="assets/img/icon6.png"></div>
          <h4>Professional Service Team</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <img src="assets/img/curve-down-arrow.png" class="arrow">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="step">
          <span>04</span>
          <div class="step-img"><img src="assets/img/icon7.png"></div>
          <h4>Professional Service Team</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end steps -->
<!-- start products -->
<div class="products section-apis" *ngIf="products?.length>0">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="the-title">
          <h2>{{'OurProducts' | translate}}</h2>
          <p>{{'Everything_you_need_to_know_when_you_are_looking' | translate}}</p>
        </div>
      </div>
      <div class="col-md-4 view">
        <a routerLink="/products" class="link">{{'ViewAllProducts' | translate}}<img src="assets/img/arrow.png"></a>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let product of products">
        <div class="col-lg-4 col-md-6">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- end products -->
<!-- start latest -->
<div class="latest" *ngIf="latestNews?.length>0 || latestEvents?.length >0">
  <div class="latest-bg section-apis">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" *ngIf="latestNews?.length>0">
          <h3>{{'latestNews' | translate}}</h3>
          <div class="event">
            <div class="event-img  bg-white">
              <img class="d-block m-auto"
                [defaultImage]="latestNews[0]?.image?.reference ? latestNews[0]?.image?.reference : './assets/img/latest.png'"
                [lazyLoad]="latestNews[0]?.image?.reference ? latestNews[0]?.image?.reference : './assets/img/latest.png'"
                onerror="this.src='./assets/img/latest.png';"
                alt="{{ latestNews[0]?.title ? latestNews[0].title : '' }}" />
            </div>
            <div class="event-details">
              <h4 class="text-truncate"><a href="javascript:void(0)" (click)="onViewNews()">{{latestNews[0]?.title}}</a>
              </h4>
              <p style="word-break:break-all">{{latestNews[0]?.content.length > 70?
                latestNews[0]?.content.substring(0,70)+ '...' :latestNews[0]?.content}}</p>
              <div class="row">
                <div class="col-sm-6">
                  <!-- <div class="profile">
                    <img src="assets/img/profile.png">
                    Lorem Ipsum
                  </div> -->
                </div>
                <div class="col-sm-6">
                  <div class="date"><img src="assets/img/schedule_black_24dp.png">{{latestNews[0]?.lastUpdatedDate |
                    date :'short'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="link-align"><a routerLink="/news">{{'ViewAllNews' | translate}}<img
                src="assets/img/arrow-white.png"></a></div>
        </div>
        <div class="col-lg-6" *ngIf="latestEvents?.length > 0">
          <h3>{{'latestEvents' | translate}}</h3>
          <ng-container *ngFor="let event of latestEvents">
            <div class="new">
              <div class="row">
                <div class="col-sm-6">
                  <div class="news-img">
                    <img style="height: 166px;"
                      [defaultImage]="event?.image?.reference ? event?.image?.reference : './assets/img/latest.png'"
                      [lazyLoad]="event?.image?.reference ? event?.image?.reference : './assets/img/latest.png'"
                      onerror="this.src='./assets/img/latest.png';" class="img-fluid w-100"
                      alt="{{ event?.title ? event.title : '' }}" />
                    <div class="news-date">{{event?.eventDate | date }}</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="news-details">
                    <h4 class="text-truncate"><a href="javascript:void(0)" (click)="onViewEvent(event)">{{event?.title}}
                      </a></h4>
                    <!-- <div class="profile">
                      <img src="assets/img/profile.png">
                      Lorem Ipsum
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-container>



          <div class="link-align"><a routerLink="/events">{{'ViewAllEvents' | translate}}<img
                src="assets/img/arrow-white.png"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end latest -->
<!-- start partners -->
<div class="partners section-apis" *ngIf="PartnerList?.length">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="the-title">
          <h2>{{'OurPartners' | translate}}</h2>
          <p>Everything you need to know when you're looking</p>
        </div>
      </div>
      <div class="col-sm-4 view">
        <a href="#" class="link">{{'ViewAllPartners' | translate}}<img src="assets/img/arrow.png"></a>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let partner of PartnerList">
        <div class="col-md-2 col-sm-4 col-6">
          <div class="partner">
            <img
            [defaultImage]="partner?.partnerLogo?.reference ? partner?.partnerLogo?.reference : './assets/img/p3.png'"
            [lazyLoad]="partner?.partnerLogo?.reference ? partner?.partnerLogo?.reference : './assets/img/p3.png'"
            onerror="this.src='./assets/img/p3.png';"
            alt="{{ partner?.partnerName ? partner.partnerName : '' }}" />
           </div>
        </div>

      </ng-container>

    </div>
  </div>
</div>
<!-- end partners -->
<app-footer></app-footer>
<app-inbox-icon></app-inbox-icon>
