<!-- start header -->
<div class="header">
  <app-nav home="false"></app-nav>
  <div class="main-text">
    <div class="container">
      <h2>SOURCE YOUR APIs <br>
        3,000+ SUPPLIER & 25000++ APIs CUSTOMER WORLDWIDE</h2>
    </div>
  </div>
</div>
<!-- end header -->
<!-- start statistics -->
<div class="statistics">
  <div class="container">
    <div class="shape1">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="icon">
            <div class="icon-img"><img src="assets/img/molecular-structure.png"></div>
            <span>3000+</span>
            <p>APPROVED VENDORS</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon">
            <div class="icon-img"><img src="assets/img/packages.png"></div>
            <span>25000+</span>
            <p>REGISTERED APIS</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon">
            <div class="icon-img"><img src="assets/img/molecular-structure.png"></div>
            <span>25000+</span>
            <p>180+ GLOBAL PRESENSE, NO LIMITS</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="icon">
            <div class="icon-img"><img src="assets/img/packages.png"></div>
            <span>25000+</span>
            <p>990+ AUDITED AND VERIFIED VENDORS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end statistics -->
<!-- start about -->
<div class="about section-apis">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about-img">
          <img src="assets/img/about1.png">
          <div class="about-num"><span>25K+</span>Raw Material</div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-text">
          <h2>A Pharmaceutical APIs Easy <span>SCM</span></h2>
          <h2>According to Your Sourcing <span>Inquiries</span></h2>
          <p>APIs-online.com's trade services help in assuring your purchases are protected, verified, and always on
            time!</p>
        </div>
        <div class="about-list">
          <h3><img src="assets/img/icon1.png">Secure Your Payment</h3>
          <p>APIs-online.com protecting your investment and deals by preventing any fraud for both vendor and users:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">- On time dispatch guarantee </li>
            <li class="list-group-item">- Refund Policy</li>
            <li class="list-group-item">- What you need is ONLY to keep your deal on APIs-online.com</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about-list mt-60">
          <h3><img src="assets/img/icon2.png">Select Audited and Verified Vendors</h3>
          <p>APIs-online.com assure your deals are handled through technically audited suppliers and officially
            registered each at his country of origin
          </p>
        </div>
        <div class="about-list">
          <h3 class="flex"><img src="assets/img/icon3.png">Supply Chain Management is APIs-online.com core Business</h3>
          <p>Either whose in the chain is responsible for shipping, don’t worry as APIs will provide you alternative
            logistic solutions in cost effective and assured channels. Don’t care, either your shipment is to be sea,
            air, or even by land, APIs-online.com will make it easy as your reading of this sentence</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-img2">
          <img src="assets/img/about2.png">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end about -->
<!-- start steps -->
<div class="steps">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="step">
          <span>01</span>
          <div class="step-img"><img src="assets/img/icon4.png"></div>
          <h4>Search and prioritize </h4>
          <p>You can search APIs-online.com according to your need either through APIs and/or supplier name</p>
          <img src="assets/img/curve-down-arrow.png" class="arrow">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="step">
          <span>02</span>
          <div class="step-img"><img src="assets/img/icon5.png"></div>
          <h4>Select matched APIs</h4>
          <p>Filter the search results for easier selection. Now match your requirement of certificates, and
            specifications</p>
          <img src="assets/img/curve-down-arrow.png" class="arrow">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="step">
          <span>03</span>
          <div class="step-img"><img src="assets/img/icon6.png"></div>
          <h4>Adjust your specifications and Negotiate</h4>
          <p>APIs-online.com is your integrated platform to request your detailed specifications and certificates
            directly between supplier and user. No any mediator!</p>
          <img src="assets/img/curve-down-arrow.png" class="arrow">
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="step">
          <span>04</span>
          <div class="step-img"><img src="assets/img/icon7.png"></div>
          <h4>Confirm, pay and Receive </h4>
          <p>APIs-online.com assure the security of payment for both vendors and users. You are free to select any mean
            of shipping as alternatives are always exist. Payment releases to vendor after you confirm receiving your
            materials</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end steps -->
<!-- start products -->
<div class="products section-apis" *ngIf="products?.length>0">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="the-title">
          <h2>{{'Products' | translate}}</h2>
          <p>Apis-online.com Is A Totally Free Service For Pharma Sourcing Experts Designed Especially To Facilitate
            Your Active Pharmaceutical Ingredients Global Sourcing. For Any Help Just Let Us Know Now</p>
        </div>
      </div>
      <div class="col-md-4 view">
        <a routerLink="/products" class="link">{{'ViewAllProducts' | translate}}<img src="assets/img/arrow.png"></a>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let product of products">
        <div class="col-lg-4 col-md-6">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- end products -->
<!-- start latest -->
<div class="latest" *ngIf="latestNews?.length>0 || latestEvents?.length >0">
  <div class="latest-bg section-apis">
    <div class="container">
      <div class="row">
        <div class="col-lg-6" *ngIf="latestNews?.length>0">
          <h3>{{'latestNews' | translate}}</h3>
          <div class="event">
            <div class="event-img  bg-white">
              <img class="d-block m-auto" style="width: 100%"
                [defaultImage]="latestNews[0]?.image?.reference ? latestNews[0]?.image?.reference : './assets/img/latest.png'"
                [lazyLoad]="latestNews[0]?.image?.reference ? latestNews[0]?.image?.reference : './assets/img/latest.png'"
                onerror="this.src='./assets/img/latest.png';"
                alt="{{ latestNews[0]?.title ? latestNews[0].title : '' }}" />
            </div>
            <div class="event-details">
              <h4 class="text-truncate"><a href="javascript:void(0)" (click)="onViewNews()">{{latestNews[0]?.title}}</a>
              </h4>
              <p style="word-break:break-all">{{latestNews[0]?.content.length > 70?
                latestNews[0]?.content.substring(0,70)+ '...' :latestNews[0]?.content}}</p>
              <div class="row">
                <div class="col-sm-6">
                  <!-- <div class="profile">
                    <img src="assets/img/profile.png">
                    Lorem Ipsum
                  </div> -->
                </div>
                <div class="col-sm-6">
                  <div class="date"><img src="assets/img/schedule_black_24dp.png">{{latestNews[0]?.lastUpdatedDate |
                    date :'short'}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="link-align"><a routerLink="/news">{{'ViewAllNews' | translate}}<img
                src="assets/img/arrow-white.png"></a></div>
        </div>
        <div class="col-lg-6" *ngIf="latestEvents?.length > 0">
          <h3>{{'latestEvents' | translate}}</h3>
          <ng-container *ngFor="let event of latestEvents">
            <div class="new">
              <div class="row">
                <div class="col-sm-6">
                  <div class="news-img">
                    <img style="height: 166px;"
                      [defaultImage]="event?.image?.reference ? event?.image?.reference : './assets/img/latest.png'"
                      [lazyLoad]="event?.image?.reference ? event?.image?.reference : './assets/img/latest.png'"
                      onerror="this.src='./assets/img/latest.png';" class="img-fluid w-100"
                      alt="{{ event?.title ? event.title : '' }}" />
                    <div class="news-date">{{event?.eventDate | date }}</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="news-details">
                    <h4 class="text-truncate"><a href="javascript:void(0)" (click)="onViewEvent(event)">{{event?.title}}
                      </a></h4>
                    <!-- <div class="profile">
                      <img src="assets/img/profile.png">
                      Lorem Ipsum
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-container>



          <div class="link-align"><a routerLink="/events">{{'ViewAllEvents' | translate}}<img
                src="assets/img/arrow-white.png"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end latest -->

<!-- start partners -->
<div class="events section-apis" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="the-title">
          <h2 style="color: #fcb813">{{'LatestEvents' | translate}}</h2>
          <div class="event-card">
            <img src="assets/img/about2.png" />
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consectetur error aliquam molestias harum.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa consectetur error aliquam molestias harum,
              in nisi vitae ad numquam corrupti deserunt accusantium distinctio quo ipsa corporis unde laudantium! Non,
              corporis.</p>
            <div class="events-footer" fxLayout="row" fxLayoutAlign="space-between start">
              <div fxLayout="row" fxLayoutGap="8px">
                <img src="assets/img/about2.png" />
                <p>Lorem ipsum</p>
              </div>
              <p class="events-footer__clock"><i class="fa fa-clock-o"></i>08:03 . 20-Dec-2021</p>
            </div>
          </div>
        </div>
        <a href="#" class="link">{{'ViewAllEvents' | translate}}<img src="assets/img/arrow.png"></a>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="the-title">
          <h2 style="color: #fcb813">{{'LatestNews' | translate}}</h2>
          <div  fxLayout="column" fxLayoutGap="24px">
            <div class="news-card" fxLayout="row" *ngFor="let a of [].constructor(3)">
              <img src="assets/img/about2.png" />
              <div class="news-card__right">
                <div class="news-card__middle">
                  <p>22</p>
                  <p>Dec 2021</p>
                </div>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                </p>
                <div fxLayout="row" fxLayoutGap="8px" class="news-card__footer">
                  <img src="assets/img/about2.png" />
                  <p>Lorem ipsum</p>
                </div>
              </div>
            </div>
            </div>
          </div>
          <a href="#" class="link">{{'ViewAllNews' | translate}}<img src="assets/img/arrow.png"></a>
      </div>
    </div>
  </div>
</div>
<!-- end partners -->

<!-- start partners -->
<div class="partners section-apis" *ngIf="PartnerList?.length">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="the-title">
          <h2>{{'OurPartners' | translate}}</h2>
          <p>Everything you need to know when you're looking</p>
        </div>
      </div>
      <div class="col-sm-4 view">
        <a href="#" class="link">{{'ViewAllPartners' | translate}}<img src="assets/img/arrow.png"></a>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let partner of PartnerList">
        <div class="col-md-2 col-sm-4 col-6">
          <div class="partner">
            <img
              [defaultImage]="partner?.partnerLogo?.reference ? partner?.partnerLogo?.reference : './assets/img/p3.png'"
              [lazyLoad]="partner?.partnerLogo?.reference ? partner?.partnerLogo?.reference : './assets/img/p3.png'"
              onerror="this.src='./assets/img/p3.png';" alt="{{ partner?.partnerName ? partner.partnerName : '' }}" />
          </div>
        </div>

      </ng-container>

    </div>
  </div>
</div>
<!-- end partners -->
<app-footer></app-footer>
<app-inbox-icon *ngIf="userData"></app-inbox-icon>
