<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
<div class="row">
  <div class="col-12">
    <div class="card white-card mb-4" style="border-radius: 0px 0px 40px 0px;">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-8">
              <formly-form class="row" [form]="form" [model]="model" [fields]="fields"> </formly-form>
            </div>
            <div class="col-lg-4">
              <button type="submit" class="apis-button btn-warning  px-5">
                <span [inlineSVG]="'assets/icons/search2.svg'"></span>
                {{'search' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card white-card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="the-title">
          <h2>{{'FavoriteProducts' | translate}}<span class="number-items">50 {{'Product' | translate}}</span></h2>
        </div>
      </div>
      <div class="col-md-4 view">
        <div class="filter-grid">
          <button type="button" class="grid-12" (click)="onTogglingView('list')"><img
              src="assets/img/view_list_black_24dp.svg"></button>
          <span><img src="assets/img/Line%2011.svg"></span>
          <button type="button" class="grid-6" (click)="onTogglingView('grid')"><img
              src="assets/img/grid_view_black_24dp.svg"></button>
        </div>
      </div>
    </div>
    <div class="row filter-grid-row">
      <div class="col-sm-6">
        <app-product-card></app-product-card>
      </div>
      <div class="col-sm-6">
        <app-product-card></app-product-card>
      </div>
      <div class="col-sm-6">
        <app-product-card></app-product-card>
      </div>
      <div class="col-sm-6">
        <app-product-card></app-product-card>
      </div>
      <div class="col-sm-6">
        <app-product-card></app-product-card>
      </div>
      <div class="col-sm-6">
        <app-product-card></app-product-card>
      </div>
    </div>
    <div class="mt-4">
      <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" [totalItems]="77" previousText="&lsaquo;" nextText="&rsaquo;" maxSize="5"
          firstText="&laquo;" lastText="&raquo;">
        </pagination>
      </div>
    </div>
  </div>
</div>


<!-- end products -->
