
<div class="row">
  <div class="col-12">
    <div class="card white-card mb-4" style="border-radius: 0px 44px 0 0px;">
      <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-items-center p-4">
          <div inlineSVG="assets/icons/completed.svg"></div>
          <h1 class="mt-4">Thanks, Deal #12666532 Completed!</h1>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
           <div class="row w-100 d-flex justify-content-center">
             <div class="col-9">
              <button class="apis-button btn btn-block btn-warning mt-4">View Deals</button>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

