@import 'src/assets/scss/variables';

  .white-card{
    background-color: #EDF9FB;
    text-align: center;
  }

h1{
  font-size: 35px;
  font-weight: bold;
  color: $greenColor;
}


p{
  color: #756F86;
  font-size: 15px;
  font-weight: bold;
}

