
<div class="row">
  <div class="col-12">
    <div class="card white-card mb-4" style="border-radius: 0px 44px 0 0px;">
      <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-items-center p-4">
          <div inlineSVG="assets/icons/completed.svg"></div>
          <h1 class="mt-4">Thanks, Deal #{{dealId}} Completed!</h1>
           <div class="row w-100 d-flex justify-content-center">
             <div class="col-9">
              <button class="apis-button btn btn-block btn-warning mt-4" type="button" (click)="generatePDF()">View Deal</button>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

