<accordion class="formly-accordion mb-3">
  <app-profile-deal-quotation userType="supplier" title="Supplier Purchase Order Info"></app-profile-deal-quotation>

  <app-profile-deal-quotation userType="user" isOpen="true" title="User Edits"></app-profile-deal-quotation>

</accordion>

<app-deal-waiting-reply></app-deal-waiting-reply>



<div class="row">
  <div class="col-md-12">
    <div class="button-items py-4">
      <a class="apis-button btn btn-outline-info px-4" routerLink="/profile/deals/quotations/1/send-quotation">
        <span [inlineSVG]="'assets/icons/edit.svg'" class="mx-1"></span>
        {{'REPLY' |translate}}
      </a>
      <button type="button" class="apis-button btn btn-outline-success  px-4">
        <span [inlineSVG]="'assets/icons/download.svg'" class="mx-1"></span>
        {{'download' |translate}}
      </button>


      <button type="button" class="apis-button btn btn-success pull-md-right px-5" style="line-height: 12px;">
      <div>{{'ACCEPT' |translate}}</div>
      <div style="font-size: 12px;margin-top: 4px;">{{'needOrder' |translate}}</div>
    </button>

    <button type="button" class="apis-button btn btn-danger  px-4 pull-md-right">
      <span [inlineSVG]="'assets/icons/delete.svg'" class="mx-1"></span>
      {{'Cancel' |translate}}
    </button>

    </div>
  </div>
</div>
